@import "../mixins";

.contact {
  background-color: $dark3;
  padding: 7em 4em;
  margin: 0 1em 0 1em;
  display: flex;
  flex-direction: row;

  @include small() {
    flex-direction: column;
    gap: 10em;
  }

  & > .wrapper {    
    @include small() {
      margin-left: 15em;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;

    @include large() {
      scale: .75;
    }

    @include medium() {
      scale: .6;
    }

    @include small() {
      scale: 1;
    }

    h1 {
      text-align: center;
    }

    hr {
      width: 40%;
      margin-bottom: 4rem;
      border-color: $secondary;
    }

    button {
      transition: all .15s ease-in;

      &:hover {
        font-size: 1.5em;
        padding: .66em 2em;
        transition: all .15s ease-in;
        background-color: $secondary;
      }
    }

    .icons {
      display: grid;
      grid-template-columns: 3em 3em;
      grid-template-rows: auto auto;
      grid-column-gap: 2em;
      grid-row-gap: 3em;
      justify-content: center;

      .icon {
        scale: 2.5;
        gap: 1rem;
        transition: all .15s ease-in;

        &:hover {
          scale: 3.2;
          transition: all .15s ease-in;
        }
      }
    }

    .action {
      display: flex;
      flex-direction: row;
      gap: 5em;
      justify-content: center;
    }
  }  
}