@import "../mixins";

@keyframes borderAnimation {
  0% {
    width: 0%;
    border-top: .08rem solid $secondary;
  }
  100% {
    width: 40%;
    border-top: .08rem solid $secondary;
  }
}

.footer {
  z-index: 100000;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: $dark;

  .text {
    animation: borderAnimation 2s;
    transition: all .7s ease;
    width: 40%;
    border-top: .08rem solid $secondary;
    line-height: 2em;
    text-align: center;
    @include medium() {
      width: 100%;
    }
    @include mobile() {
      width: 60%;
    }
  }
}