@import "../mixins";

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInIcons {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes rotateWords {
  5% {
    opacity: 1;
  }
  10%, 20% {
    opacity: 1;
    transform: rotate(3deg);
  }
  15% {
    transform: rotate(-1deg);
  }
  25% {
    opacity: 0;
    transform: translateY(4rem) rotate(10deg);
  }
}

@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}


.main {
  min-height: 80vh;
  padding: 11em 0 0 0;
  margin-bottom: 12em;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 13em;

  .image {
    position: relative;
    z-index: 1;
    background: radial-gradient(
      circle 27rem,
      $nav-secondary,
      $dark 47%
    );
    margin-top: 2rem;
    width: 25rem;
    height: 25rem;
    animation: fadeIn 3s;
    transition: all .7s ease;

  }

  h3 {
    line-height: 2.5rem;
  
    .rotate {
     display: inline;
     margin-left: 1rem; 
    }

    .rotate span{
      width: max-content;
      position: absolute;
      background-color: $secondary;
      color: $text;
      text-shadow: .1rem .1rem $dark;
      padding-inline: 1em;
      opacity: 0;
      transform-origin: 10% 75%;
      animation: rotateWords 16s var(--d) linear infinite;
    }
  }

  hr {
    width: 30%;
    margin-left: 0;
  }

  .circlegraph {
    position: absolute;
    margin-top: -14em;
    margin-left: 11em;
    z-index: 10;
    // animation: spin 14s linear infinite;
      .circle {
      color: $secondary;
      width: 3rem;
      height: 3rem;
      position: inherit;
      background: $nav-secondary;
      border-radius: 50%;
      transition: all 1s ease-in-out;
      transition-delay: 0.5s;
      animation: fadeInIcons 1.5s;      
      &:hover {
        scale: 1.1;
        transition: 0.5s ease-in-out;
        transition-delay: 0s;
        width: 5rem;
        height: 5rem;
      }
    }
  }
}