@import "../mixins";

.nav {
  width: 100%;
  z-index: 100000;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $nav-secondary;

  .navlist {
    display: flex;
    justify-content: center;
    li {
      position: relative;
      z-index: 1;
      color: $secondary;
      padding: 1rem 2.5rem;
      flex-wrap: wrap;
      cursor: pointer;
      transition: all .25s ease-in-out;
      &:last-child {
        margin-right: 6rem;
      }

      &:hover {
        background: url('/brush-stroke.svg') center/contain no-repeat;
        color: $nav-secondary;
        animation: paintStroke 0.25s ease-in-out forwards;
      }
    }
  }
  .image {
    @include small() {
      display: flex;
      flex-direction: column;
    }
    position: relative;
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
  }
}

.fade_bottom {
  position: fixed;
  width: 100%;
  height: 22vh;
  background-image: linear-gradient(
    to bottom,
    transparent,
    $nav-secondary 32.8%,
    transparent
  );

  @include xlarge() {
    background-image: linear-gradient(
      to bottom,
      transparent,
      $nav-secondary 41%,
      transparent
    );
  }

  @include large() {
    background-image: linear-gradient(
      to bottom,
      transparent,
      $nav-secondary 15%,
      transparent
    );
  }

  @include medium() {
    background-image: linear-gradient(
      to bottom,
      transparent,
      $nav-secondary 30%,
      transparent
    );
  }

  @include small() {
    background-image: linear-gradient(
      to bottom,
      transparent,
      $nav-secondary,
      transparent
    );
  }
  @keyframes paintStroke {
    0% {
      background-size: 0% 100%;
      background-position: -20% center;
      opacity: 0;
    }
    50% {
      opacity: 0.4;
      background-size: 80% 100%;
      background-position: 60% center;
    }
    100% {
      background-size: 100% 100%;
      background-position: center;
      opacity: 1;
    }
  }
}
