@import "../mixins";

.nav {
  width: 100%;
  z-index: 100000;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $nav-secondary;
  
  .navlist {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    li {
      color: $secondary;
      margin-left: 2.5rem;
      flex-wrap: wrap;
      cursor: pointer;
      &:last-child {
        margin-right: 6rem;
      }
    }
  }
  .image {
    @include small() {
      display: flex;
      flex-direction: column;
    }
    position: relative;
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
  }
}

.fade_bottom {
  position: fixed;
  width: 100%;
  height: 22vh;
  background-image: linear-gradient(
    to bottom,
    transparent,
    $nav-secondary 32.8%,
    transparent
  );

  @include xlarge() {
    background-image: linear-gradient(
      to bottom,
      transparent,
      $nav-secondary 41%,
      transparent
    );
  }

  @include large() {
    background-image: linear-gradient(
      to bottom,
      transparent,
      $nav-secondary 15%,
      transparent
    );
  }

  @include medium() {
    background-image: linear-gradient(
      to bottom,
      transparent,
      $nav-secondary 30%,
      transparent
    );
  }

  @include small() {
    background-image: linear-gradient(
      to bottom,
      transparent,
      $nav-secondary,
      transparent
    );
  }
  
}