@import "../mixins";

.project {
    background-color: $dark2;
    padding: 11em 3em 3em 3em;
    margin: 0 1em 0 1em;

    background-image: linear-gradient(
      to bottom,
       transparent,
      $dark2 90%,
      $dark3
    );

    
    h1 {
        width: max-content;
    }
    
    
    hr {
        width: 20%;
        margin: 2em 0;
        margin-left: 2em;
        border-color: $secondary;
    } 

}

.container {
    min-width: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    @include medium() {
        flex-direction: column;
    }
}

.wrapper {
    padding: 0 3em;
    line-height: 2em;
    max-width: 45%;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;

    @include medium() {
        font-size: large;
    }

    @include small() {
        font-size: medium;
    }

    .title {
        margin: auto;
        text-align: center;
        cursor: pointer;
        line-height: 4em;
        transition: .5s ease;
        &:hover {
            scale: 1.2;
            transition: .5s ease;
        }
    }
    
    .technologies {
        padding: 1em 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;   
        color: $secondary;
        opacity: .8;
        font-weight: bold;

        @include small() {
            column-gap: 2em;
            margin-left: -13%;
            min-width: max-content
        }
        
        p{
            transition: .5s ease;
            cursor: default;
            &:hover {
                scale: 1.3;
                transition: .5s ease;
            }
        }
    }

    .image {
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: .5em .5em 2em $nav-secondary;
        transition: .5s ease-in;

        &:hover {
            scale: 1.1;
            transition: .5s ease-in;
        }
}

    .desc {
        padding-top: 1.2em;
        text-align: justify;
        word-wrap: break-word;
        border-top: .2em solid $nav-secondary;
    }

    span {
        padding-top: 6em;
        display: flex;
        flex: 1;
        text-align: left;
        white-space: nowrap;
    }
}