$layout-breakpoint-s: 640px;
$layout-breakpoint-m: 768px;
$layout-breakpoint-l: 1999px;

$dark: #050d17;
$dark2: #0b1d34;
$text: #fdf8d0;
$nav-secondary: #000103;
$secondary: #a1e737b5;

@mixin medium() {
  @media (max-width: $layout-breakpoint-m) {
      @content;
  }
}

@mixin tablet() {
    @media (min-width: 641px) and (max-width: $layout-breakpoint-m) {
        @content;
    }
}

@mixin desktop() {
    @media (min-width: 769px) and (max-width: $layout-breakpoint-l) {
      @content;
    }
}

@mixin desktop-xl() {
  @media (min-width: 2000px) {
    @content;
  }
}

@mixin mobile() {
    @media (min-width: 300px) and (max-width: $layout-breakpoint-s) {
      @content;
    }
}

@mixin dark-theme() {
    @media (prefers-color-scheme: dark) {
      @content;
    }
}

@mixin light-theme() {
    @media (prefers-color-scheme: light) {
      @content;
    }
}