$layout-breakpoint-s: 650px;
$layout-breakpoint-m: 900px;
$layout-breakpoint-l: 1600px;
$layout-breakpoint-xl: 2500px;

$dark: #050d17;
$dark2: #0b1d34;
$dark3: #0d2442;
$text: #fdf8d0;
$nav-secondary: #000103;
$secondary: #a1e737b5;

@mixin xlarge() {
  @media (max-width: $layout-breakpoint-xl) {
      @content;
  }
}

@mixin large() {
  @media (max-width: $layout-breakpoint-l) {
      @content;
  }
}

@mixin medium() {
  @media (max-width: $layout-breakpoint-m) {
      @content;
  }
}

@mixin small() {
    @media (max-width: $layout-breakpoint-s) {
      @content;
    }
}