@import "mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  color-scheme: dark;
  color: $text;
  background: $dark;
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
}

a {
  color: $secondary;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

span {
  font-size: 1rem;
  color: $secondary;
  opacity: 0.8;
}

button {
  background-color: inherit;
  cursor: pointer;
  padding: 1em 3em;
  font-size: larger;
  border: .2em solid $secondary;
  font-weight: bold;
}